@import '../../../../common/styles';

.dropdown-filter {
    .input {
        width: 100%;
        height: $row-height;
        border: $border;
        padding: $padding;
        box-sizing: border-box;
    }
}