@import './common/styles';

header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: center;
    
    .content {
        display: grid;
        column-gap: 70px;
        row-gap: 70px;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
        grid-template-rows: 1fr;
        overflow-x: auto;
        padding-top: 40px;
        padding-bottom: 80px;

    }
    .properties {
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
    }

    .custom-dropdown {
        position: relative;
        min-width: 300px;
        max-width: 300px;
        min-height: 350px;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: $box-shadow;

        p {
            margin: 10px;
        }
        .bold {
            font-weight: 500;
        }
    }
}
