@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$row-height: 40px;
$row-width: 200px;
$padding: 10px 15px;

$border-color: #d3d3d363;
$border: 1px solid $border-color;

$shadow-color: #0000000f;
$box-shadow: 0px 3px 30px $shadow-color;

$submit-button-color: #34d399;

* {
    letter-spacing: 0.5px;
}
body {
    font-family: 'Roboto', sans-serif;
}